__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Database & Local Secrets
.env
*.db
*.sqlite

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# OS files
Thumbs.db
.DS_Store